@{
    ViewBag.Title = "About";
}
<h2>Разработалa Полевина Анна Александровна</h2>
<h3>
    "Онлайн инвестиции" представляют собой сервис по покупке ценных бумаг и валюты.
    По своей сути, это максимально упрощенный вариант торгового терминала.
    На вкладке "Главная" Вас ожидает два блока с данными. Первый блок - это
    "Брокерский счет, который в себя включает сумму всего портфеля в рублях. Валюты,
    имеющиеся в портфеле, а также купленные акции. Во втором блоке "Курсы акций" распологается
    актуальные котеровки акций. Во вкладке "Действия" Вы можете совершить операции
    перевода и пополнения средств с брокерского счета, а также купить акции. Во вкладке
    "История" Вас ждет информация о совершенных транзакциях, купленных и проданных акциях.
    Во вкладке "Личный кабинет" также можно совершать транзакции с валютами и продавать купленные акции.
</h3>

<h4>
    По вопросам поддержки обращайтесь по следущим контактным данным:
</h4>

<address>
    Город: Белгород<br />
    Улица: Костюкова 44 <br />
    Дом:   Общежитие 1<br />
    <abbr title="Phone">P:</abbr>
    8.910.111.2323
</address>

<address>
    <strong>Аuthor:</strong>   <a href="https://mail.yandex.ru/?uid=275944632#inbox">polevina01@gmail.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>