
@{
    ViewBag.Title = "Admin";
}

<div class="background__img">
    <div class="container container-width-max admin">
        <div class="container__title admin__title">
            <h2>Страница для редактирования базы данных "Инвестиции"</h2>
        </div>
        <div class="background-color">
            <ul class="container__items">

                </br>
                <button><a href="/Home/Shares">Акции</a></button></br></br>
                <button><a href="/Home/Score">Валютные Счета</a></button></br>
                @*<li class="container__item"><a href="/Home/Shares">Акции</a></li>
        <li class="container__item"><a href="/Home/Score">Счета</a></li>*@
            </ul>
        </div>

    </div>
</div>

<h4>Админ - Полевина Анна Александровна</h4>



