@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    City: Белгород<br />
    Street: Буденово 76а<br />
    House: дом 5<br />
    <abbr title="Phone">P:</abbr>
    8.800.555.3535
</address>

<address>
    <strong>Аuthor:</strong>   <a href="https://mail.yandex.ru/?uid=275944632#inbox">litvinov.dima2001@yandex.ru</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>